/* * {
font-family: Helvetica, Arial,  sans-serif;
} */

body{
  background-color: #FFFDD0;
  background-size: 100%;
} 

.search-dog{
  margin: 50px 0px 50px;
  text-align: center;
}
.title-breed{
  margin: 50px 0px 50px;
  text-align: center;
} 
.card img{
  height: 230px;
}